
body{
  background-color: #8FC0A9;
}
img{
  height: 50px;
  width: 100px;
}
.enquesta-creada{
  width: 60%;
  height: 100%;
  margin: auto;
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.enquestes{
    display: flex;
    flex-direction: row;
		justify-content: space-between;
		margin-top: 1%;
}

.formulari{
  float: right;
}

.canvas-cont{
  width: 300px;
  height: 200px;
}



/*.formulari{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1%;
  background-color: #f49b42;
  border: 1px solid black;
  padding:10px;

}*/

.content{
  width: 50%;
  height: 100%;
  margin: auto;
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

.tornar{

}

a, button, input[type="submit"], input[type="checkbox"] {
    cursor: pointer;
}

.pregunta:hover{
  color: #986aa5;
  cursor: pointer;
}

.res{
  margin-top: 11px;
}

/*css part admin
--------------------------------------------------------*/

.admin-lista{
  width: 60%;
  height: 100%;
  margin: auto;
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.admin-lista > td{
  align-content: center;
}

.llista-admin-enquestes{
    width: 94%;
    margin-top: 20px;
}

ul{
  list-style-type: none;
  padding: 10px
}

.opcions{
  list-style-type: none;
  padding: 10px
}

.tornar-admin{
  margin-right: 0px
}

.editar-enquesta{
  width: 60%;
  height: 100%;
  margin: auto;
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}

.content-create-admin{

  width: 60%;
  height: 100%;
  margin: auto;
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  margin-top: 10px;

}
