{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vota!n{% endblock %}</title>
    </head>
    <body>
        <h3>VOTA!</h3>
        <div id="upperbar1">
            {% block upperbar1 %}
                <a href="/usuaris">Usuarios</a>
	        <a href="/enquestes">Enquestes</a>
                <br>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>


