{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
	a{text-decoration:none;}
</style>
{% endblock %}

{% block body %}
    <h1>Edició d'enquestes</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('enquesta_index') }}">Tornar a la llista d'enquestes</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Esborrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
