{% extends 'base.html.twig' %}

{% block body %}
    <h1>LLista d'enquestas</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Pregunta</th>
                <th>Data d'inici</th>
                <th>Data de finalització</th>
                <th>Destacada</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enquestum in enquestas %}
            <tr>
                <td>{{ enquestum.id }}</a></td>
                <td>{{ enquestum.pregunta }}</td>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('Y-m-d') }}{% endif %}</td>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{% if enquestum.destacada %}Si{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        
                        <li>
                            <a href="{{ path('enquesta_edit', { 'id': enquestum.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enquesta_new') }}">Crear una nova enquesta</a>
        </li>
    </ul>
{% endblock %}
