{% extends 'base.html.twig' %}

{% block body %}
    <h1>Crear Enquesta</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('enquesta_index') }}">Tornar a la llista d'enquestes</a>
        </li>
    </ul>
{% endblock %}
