{% extends 'base.html.twig' %}

{% block body %}
    <h1>Enquestum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enquestum.id }}</td>
            </tr>
            <tr>
                <th>Pregunta</th>
                <td>{{ enquestum.pregunta }}</td>
            </tr>
            <tr>
                <th>Data d'inici</th>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Data de finalització</th>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destacada</th>
                <td>{% if enquestum.destacada %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('enquesta_index') }}">Tornar a la llista d'enquestes</a>
        </li>
        <li>
            <a href="{{ path('enquesta_edit', { 'id': enquestum.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Esborrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
