<<<<<<< HEAD
=======
{# app/Resources/views/enquesta/equesta.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Llista d'enquestes </h3>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Pregunta</th>
        <th>Data d'inici</th>
        <th>Data de tancament</th>
		<th>Destacada</th>
    </tr>
    {% for enquesta in enquesta %}
        <tr>
            <td>{{ enquesta.id }}</td>
            <td>{{ enquesta.pregunta }}</td>
        	<td>{{ enquesta.dataInici|date('Y-m-d') }}</td>
            <td>{{ enquesta.dataFinal|date('Y-m-d') }}</td>
			<td>{{ enquesta.destacada }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
>>>>>>> bb6551d789d39563772c046dc64ae3760fe6e47d
