{% extends 'base.html.twig' %}
{% block body %}
{% block content %}

<div class="content">

	<img src="../img/vota.jpg">
	<br>
	<br>
	<div id="login-stuff"></div>

	<div class="saludo"></div>
  <div class="res"></div>
	<div class="vots"></div>
	<div class="mensaje"></div>
	<div id="grafico-grande"></div>

	<div class="formulari-enquesta" id="formulari-enquesta"></div>
	<input type="button" class="btn btn-secondary" id="tornar" value="Tornar">
</div>


{% endblock %}
{% endblock %}

{% block stylesheets %}
<style>

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
