{# app/Resources/views/usuaris/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Llista d'usuaris </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>nom</th>
        <th>contrassenya</th>
        <th>admin</th>
    </tr>
    {% for usuari in usuari %}
        <tr>
            <td>{{ usuari.id }}</td>
            <td>{{ usuari.username }}</td>
            <td>{{ usuari.password }}</td>
            <td>{{ usuari.admin }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
