{% extends 'base.html.twig' %}

{% block body %}
<div class="editar-enquesta">
    <h1>Editar enquesta</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form.pregunta, {'attr':{'readonly':'1'}}) }}
        <input type="submit" value="Editar" class="btn btn-primary" id='env'/>
	<br>
	<br>
    {{ form_end(edit_form) }}


    {{ form_start(delete_form) }}
        <input type="submit" value="Esborrar" class="btn btn-primary">
	<br>
	<br>
    {{ form_end(delete_form) }}

    <a href="{{ path('admin_index') }}">Tornar a la llista d'enquestes</a>
{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
$("input:first").hide();
$("label:first").hide();
})
</script>
{% endblock %}
