{% extends 'base.html.twig' %}

{% block body %}
<div class="admin-lista">
    <h1>LLista d'enquestes</h1>

    <table class="llista-admin-enquestes">
        <thead>
            <tr>
                <th>Pregunta</th>
                <th>Datainici</th>
                <th>Datafinal</th>
                <th>Destacada</th>
      		<th>Si</th>
     		<th>No</th>
      		<th>Vots</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for enquestu in enquestas %}
            <tr>
                <td>{{ enquestu.pregunta }}</td>
                <td>{% if enquestu.dataInici %}{{ enquestu.dataInici|date('Y-m-d') }}{% endif %}</td>
                <td>{% if enquestu.dataFinal %}{{ enquestu.dataFinal|date('Y-m-d') }}{% endif %}</td>
                <td>{% if enquestu.destacada %}Si{% else %}No{% endif %}</td>
	      <td>
		{% set si, no = 0, 0 %}
		  {% for resposta in respostes %}
		    {% if resposta.idEnquesta == enquestu.id %}
		      {% if resposta.valor == 1 %}
		        {% set si = si+1 %}
		      {% else %}
		        {% set no = no+1 %}
		      {% endif %}
		   {% endif %}
		 {% endfor %}
	      {{ si }}
	      </td>
	      <td>
		{{ no }}
	      </td>
	      <td>
		{{ si+no }}
	      </td>
              <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_edit', { 'id': enquestu.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="opcions">
            <a href="{{ path('admin_new') }}">Crea una nova enquesta</a>
            <a  class ="tornar-admin" href="/">Tornar a l'index</a>
    </div>
</div>
{% endblock %}
