{% extends 'base.html.twig' %}

{% block body %}
<div class="content-create-admin">
    <h1>Creacio d'enquesta</h1>

   
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-primary"/>
	<br>
	<br>
    {{ form_end(form) }}
  

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Tornar a llista d'enquestes</a>
        </li>
    </ul>
</div>
{% endblock %}
