{% extends 'base.html.twig' %}

{% block body %}
<div class="enquesta-creada">
    <h1>Enquesta Creada</h1>

    <table>
        <tbody>
            <tr>
                <th>Pregunta</th>
                <td>{{ enquestum.pregunta }}</td>
            </tr>
            <tr>
                <th>Datainici</th>
                <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datafinal</th>
                <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Destacada</th>
                <td>{% if enquestum.destacada %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ enquestum.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_index') }}">Tornar a la llista d'enquestes</a>
        </li>
        <li>
            <a href="{{ path('admin_edit', { 'id': enquestum.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Esborrar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
